<div>
    <div class="modal-header">
        <h3>Edit user</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" ng-submit="edit.edit()">
            <div class="form-group">
                <label class="col-lg-2 control-label">Login</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Login" ng-model="edit.model.login">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Name" ng-model="edit.model.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Role</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="role" value="admin" ng-model="edit.model.role">
                            Admin
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="role" value="user" ng-model="edit.model.role">
                            User
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" ng-model="edit.model.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Gender</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="male" ng-model="edit.model.gender">
                            Admin
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="female" ng-model="edit.model.gender">
                            User
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" href="javascript:void(0);" ng-click="edit.edit()">Edit</a>
        <a class="btn btn-default" href="javascript:void(0);" ng-click="edit.cancel()">Cancel</a>
    </div>
</div>