.call-component .outgoing-call .move, .call-component .ingoing-call .move, .call-component .video-call .move {
  background-color: #444444;
  cursor: move;
  height: 33px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #fff;
  line-height: 33px;
  font-size: 18px;
  text-indent: 10px; }
.call-component .outgoing-call .btn-close, .call-component .ingoing-call .btn-close, .call-component .video-call .btn-close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px; }
.call-component .outgoing-call .block .user, .call-component .ingoing-call .block .user, .call-component .video-call .block .user {
  text-align: center;
  font-size: 18px;
  color: #2F6FAD;
  font-weight: 600; }
.call-component .outgoing-call .buttons, .call-component .ingoing-call .buttons, .call-component .video-call .buttons {
  text-align: center;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  height: 42px;
  width: 100%; }
  .call-component .outgoing-call .buttons a, .call-component .ingoing-call .buttons a, .call-component .video-call .buttons a {
    display: inline-block;
    margin: 0 5px; }
    .call-component .outgoing-call .buttons a.btn-reject, .call-component .ingoing-call .buttons a.btn-reject, .call-component .video-call .buttons a.btn-reject {
      color: #f00; }
    .call-component .outgoing-call .buttons a.btn-audio, .call-component .outgoing-call .buttons a.btn-video, .call-component .ingoing-call .buttons a.btn-audio, .call-component .ingoing-call .buttons a.btn-video, .call-component .video-call .buttons a.btn-audio, .call-component .video-call .buttons a.btn-video {
      color: #0f0; }
      .call-component .outgoing-call .buttons a.btn-audio.disabled, .call-component .outgoing-call .buttons a.btn-video.disabled, .call-component .ingoing-call .buttons a.btn-audio.disabled, .call-component .ingoing-call .buttons a.btn-video.disabled, .call-component .video-call .buttons a.btn-audio.disabled, .call-component .video-call .buttons a.btn-video.disabled {
        color: #f00; }
.call-component .ingoing-call {
  position: absolute;
  right: 30px;
  bottom: 70px;
  height: 150px;
  width: 200px;
  background-color: #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  z-index: 10; }
  .call-component .ingoing-call .block .user {
    padding: 25px 0 0; }
.call-component .outgoing-call {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -150px;
  background-color: #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  z-index: 10; }
  .call-component .outgoing-call .block .user {
    padding: 120px 0 0; }
.call-component .video-call {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  width: 400px;
  height: 400px;
  background-color: #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  z-index: 10; }
  .call-component .video-call .video-clock {
    height: 300px;
    background-color: #000;
    position: relative; }
    .call-component .video-call .video-clock .remote-video {
      width: 100%;
      height: 300px; }
      .call-component .video-call .video-clock .remote-video video {
        width: 100%;
        height: 100%; }
    .call-component .video-call .video-clock .local-video {
      position: absolute;
      bottom: 15px;
      right: 15px;
      border: 1px solid #fff;
      width: 120px;
      height: 80px; }
      .call-component .video-call .video-clock .local-video video {
        width: 100%;
        height: 100%; }

.users-table {
  min-height: 343px; }
  .users-table .owner-row {
    background-color: #ccc !important; }
    .users-table .owner-row:hover {
      background-color: #ccc !important; }

.office-page .navbar.navbar-default {
  margin-right: 30px; }
  .office-page .navbar.navbar-default li {
    float: none; }
.office-page .office-content {
  overflow: hidden; }

html, body, #app, .main-block {
  height: 100%;
  min-height: 100%; }

.page-wrapper {
  height: 100%;
  min-height: 100%;
  position: relative; }
  .page-wrapper .page {
    margin: 20px; }
    .page-wrapper .page .advanced-search-info {
      padding: 15px 0; }
      .page-wrapper .page .advanced-search-info > div {
        padding: 5px 0; }
    .page-wrapper .page .social-panel {
      overflow: hidden;
      text-align: right; }
      .page-wrapper .page .social-panel a {
        margin: 0 15px 0 0; }
  .page-wrapper .for-footer {
    height: 50px; }

.footer {
  height: 50px;
  background-color: #eee;
  position: relative;
  margin: -50px auto 0; }

/*# sourceMappingURL=main.css.map */
