@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

body, html {
  height: 100%;
  min-height: 100%;
}
.login {
  width: 400px;
  height: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -130px 0 0 -200px;
  padding: 30px;
  border: 2px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  .title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
  }
}